{% extends 'discussions/base.html' %}

{% block title %}
<title>Timeline Discussions | PLN Forum Learning</title>
{% endblock %}

{% block timeline %}
<div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
    <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-25 rounded">
        <div class="d-flex align-items-center pd-x-20 mg-r-auto">
            <span class="d-none d-sm-inline tx-lg-20"><strong>Discussions - Generation</strong></span>
        </div>
    </div>
    <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-25 rounded">
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="nav-link d-none d-sm-inline active">Latest</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="nav-link d-none d-sm-inline">Week</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="nav-link d-none d-sm-inline">Month</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="nav-link d-none d-sm-inline">Year</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="nav-link d-none d-sm-inline">Top</span></a>
        </div>
    </div>
    <div class="row no-gutters">
        <!-- <div class="d-flex align-items-center pd-x-20 mg-r-auto"> -->
            <div class="col-sm"></div>
            <div class="col-sm"></div>
            <div class="dropdown col-sm">
                <button class="btn btn-block btn-secondary dropdown-toggle mg-b-40  tx-black btn-pln-lb" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                </button>
                <div class="dropdown-menu tx-13">
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Electric Power Supply Business</h6>
                  <a class="dropdown-item active" href="#">Generation</a>
                  <a class="dropdown-item" href="#">Transmission</a>
                  <a class="dropdown-item" href="#">Distribution</a>
                  <a class="dropdown-item" href="#">Commerce &amp; Customer Management</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Corporate Support</h6>
                  <a class="dropdown-item" href="#">Electricity Equipment Production</a>
                  <a class="dropdown-item" href="#">Electric Safety, OHS, Security &amp; Environment</a>
                  <a class="dropdown-item" href="#">Project Management, Engineering &amp; Construction</a>
                  <a class="dropdown-item" href="#">Research &amp; Development</a>
                  <a class="dropdown-item" href="#">Learning</a>
                  <a class="dropdown-item" href="#">Certification</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Electricity Support</h6>
                  <a class="dropdown-item" href="#">Supply Chain Management</a>
                  <a class="dropdown-item" href="#">Regulatory &amp; Compliance</a>
                  <a class="dropdown-item" href="#">Information Technology</a>
                  <a class="dropdown-item" href="#">HR</a>
                  <a class="dropdown-item" href="#">Finance</a>
                  <a class="dropdown-item" href="#">Communication, CSR &amp; Office Management</a>
                  <a class="dropdown-item" href="#">Company Management</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Additional</h6>
                  <a class="dropdown-item" href="#">Miscellaneous</a>
                </div>
            </div>
            <!-- <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">Write</span> a question</a> -->
        <!-- </div> -->
    </div>

    <div class="content content-fixed content-auth-alt">
        <div class="container ht-100p tx-center">
          <div class="ht-100p d-flex flex-column align-items-center justify-content-center">
            <div class="wd-70p wd-sm-250 wd-lg-300 mg-b-15"><img src="{{url_for('static', filename='img/signin.png')}}" class="img-fluid" alt=""></div>
            <h1 class="tx-color-01 tx-24 tx-sm-32 tx-lg-36 mg-xl-b-5">Under Construction</h1>
            <h5 class="tx-16 tx-sm-18 tx-lg-20 tx-normal mg-b-20">The service is coming soon.</h5>
            <p class="tx-color-03 mg-b-30">The server is unable to service your request due to developmnent phase.</p>
            <div class="mg-b-40"><a href="/qna"><button class="btn btn-white bd-2 pd-x-30">Back</button></a></div>
          </div>
        </div><!-- container -->
    </div><!-- content -->
</div><!-- media-body -->
{% endblock %}

{% block modal %}
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-14">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel6">Delete a question</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Are you sure to register to this discussion?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger tx-13" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary tx-13">Yes</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block jscript %}
<script>
    $(function(){
      'use strict'

      $('#modalWriting').on('show.bs.modal', function (event) {

        var animation = $(event.relatedTarget).data('animation');
        $(this).addClass(animation);
      })

      // hide modal with effect
      $('#modalWriting').on('hidden.bs.modal', function (e) {
        $(this).removeClass (function (index, className) {
            return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
        });
      });

    });
</script>
{% endblock %}