{% extends 'discussions/base.html' %}

{% block title %}
<title>Timeline Discussions | PLN Forum Learning</title>
{% endblock %}

{% block timeline %}
<div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
    <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-25 rounded">
        <div class="d-flex align-items-center pd-x-20 mg-r-auto">
            <span class="d-none d-sm-inline" style="font-size: 1.3rem;"><strong>Discussions - Generation</strong></span>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Latest</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Week</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Month</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Year</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline"><strong>Top</strong></span></a>
        </div>
    </div>

    <div class="card mg-b-20 mg-lg-b-25">
        <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between" style="background-color: #E7F6F9;">
            <a href="/discussions/discussion/abcd1234"><button type="button" class="btn btn-info"><h6 class="tx-uppercase tx-semibold mg-b-0">Join</h6></button></a>
            <div class="wd-150 bd-l d-flex align-items-center justify-content-center">
                <span class="d-none d-sm-inline"><strong>#Pembangkitan</strong></span>
            </div>
        </div><!-- card-header -->
        <div class="card-body pd-20 pd-lg-25">
            <div class="media align-items-center mg-b-20">
                <div class="avatar avatar-online"><img src="https://via.placeholder.com/500"
                        class="rounded-circle" alt=""></div>
                <div class="media-body pd-l-15">
                    <h6 class="mg-b-3">Rangga Kusuma D</h6>
                    <span class="d-block tx-13 tx-color-03">@ranggakusumad</span>
                </div>
                <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">5 hours ago</span>
            </div><!-- media -->
            <a href="/discussions/discussion/abcd1234" style="color: inherit;" class="mg-b-20 mg-t-20">
                <h6>Expert: Client12, Client16, Client13</h6>
                <h6>Notulen: Client30</h6>
                <h6>Waktu: 23 Februari 2021</h6>
            </a>
        </div>
        <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
            <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link"><i data-feather="thumbs-up"></i> Like</a>
                <a href="" class="nav-link"><i data-feather="thumbs-down"></i> Dislike</a>
            </nav>
        </div><!-- card-footer -->
    </div><!-- card -->
    <div class="card mg-b-20 mg-lg-b-25">
        <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between" style="background-color: #E7F6F9;">
            <a href="#modalRegister" data-toggle="modal" data-animation="effect-fall"><button type="button" class="btn btn-warning"><h6 class="tx-uppercase tx-semibold mg-b-0">Register</h6></button></a>
            <!-- <a href="/discussions/discussion/abcd1234"><button type="button" class="btn btn-warning"><h6 class="tx-uppercase tx-semibold mg-b-0">Register</h6></button></a> -->
            <div class="wd-150 bd-l d-flex align-items-center justify-content-center">
                <span class="d-none d-sm-inline"><strong>#Pembangkitan</strong></span>
            </div>
        </div><!-- card-header -->
        <div class="card-body pd-20 pd-lg-25">
            <div class="media align-items-center mg-b-20">
                <div class="avatar avatar-online"><img src="https://via.placeholder.com/500"
                        class="rounded-circle" alt=""></div>
                <div class="media-body pd-l-15">
                    <h6 class="mg-b-3">Rangga Kusuma D</h6>
                    <span class="d-block tx-13 tx-color-03">@ranggakusumad</span>
                </div>
                <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">5 hours ago</span>
            </div><!-- media -->
            <a href="/discussions/discussion/abcd1234" style="color: inherit;" class="mg-b-20 mg-t-20">
                <h6>Expert: Client12, Client16, Client13</h6>
                <h6>Notulen: Client30</h6>
                <h6>Waktu: 23 Februari 2021</h6>
            </a>
        </div>
        <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
            <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link"><i data-feather="thumbs-up"></i> Like</a>
                <a href="" class="nav-link"><i data-feather="thumbs-down"></i> Dislike</a>
            </nav>
        </div><!-- card-footer -->
    </div><!-- card -->
</div><!-- media-body -->
{% endblock %}

{% block modal %}
<div class="modal fade" id="modalRegister" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content tx-14">
        <div class="modal-header">
            <h6 class="modal-title" id="exampleModalLabel6">Delete a question</h6>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <h5>Are you sure to register to this discussion?</h5>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger tx-13" data-dismiss="modal">No</button>
            <button type="button" class="btn btn-primary tx-13">Yes</button>
        </div>
        </div>
    </div>
    </div>
{% endblock %}

{% block jscript %}
<script>
    $(function(){
      'use strict'

      $('#modalWriting').on('show.bs.modal', function (event) {

        var animation = $(event.relatedTarget).data('animation');
        $(this).addClass(animation);
      })

      // hide modal with effect
      $('#modalWriting').on('hidden.bs.modal', function (e) {
        $(this).removeClass (function (index, className) {
            return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
        });
      });

    });
</script>
{% endblock %}