{% extends 'posts/base.html' %}

{% block title %}
<title>Post by {{username}} | PLN Forum Learning</title>
{% endblock %}

{% block timeline %}
<div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
    <div class="card mg-b-20 mg-lg-b-25">
        <img src="{{ url_for('static', filename='img/placehold.jpg') }}" class="card-img-top" alt="...">
        <div class="card-body pd-20 pd-lg-25">
            <h3 class="card-title">Vaksin efektif</h5>
            <div class="media align-items-center mg-b-20">
                <div class="avatar avatar-sm">
                    <i data-feather="user" class="wd-30 ht-auto rounded-circle bg-gray-100"></i>
                </div>
                <div class="media-body pd-l-15">
                    <h6 class="mg-b-3">Rangga Kusuma</h6>
                    <span class="d-block tx-13 tx-color-03">@ranggakusumad</span>
                </div>
                <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">5 hours ago</span>
            </div><!-- media -->
            <p class="card-text">
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <hr>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                <hr>
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
            </p>
        </div>
        <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
            <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link"><i data-feather="thumbs-up"></i> 40</a>
                <a href="" class="nav-link"><i data-feather="thumbs-down"></i> 12</a>
                <a href="" class="nav-link">🙏 30</a>
                <a href="" class="nav-link">🤔 2</a>
            </nav>
        </div><!-- card-footer -->
    </div><!-- card -->
</div><!-- media-body -->
{% endblock %}