<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Twitter -->
    <meta name="twitter:site" content="@pln_forum_learning">
    <meta name="twitter:creator" content="@pln_forum_learning">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="PLN Forum Learning">
    <meta name="twitter:description" content="PLN Forum Learning">

    <!-- Facebook -->
    <meta property="og:url" content="http://pln_forum_learning.com">
    <meta property="og:title" content="PLN Forum Learning">
    <meta property="og:description" content="PLN Forum Learning">

    <!-- Meta -->
    <meta name="description" content="PLN Forum Learning">
    <meta name="author" content="PLN">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon_pln.png') }}">

    {% block title %} {% endblock %}

    <!-- pln css -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pln.css') }}">

    <!-- vendor css -->
    <link href="{{ url_for('static', filename='lib/@fortawesome/fontawesome-free/css/all.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/ionicons/css/ionicons.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/typicons.font/typicons.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/prismjs/themes/prism-vs.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/quill/quill.core.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/quill/quill.snow.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/quill/quill.bubble.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/datatables.net-dt/css/jquery.dataTables.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/datatables.net-responsive-dt/css/responsive.dataTables.min.css')}}" rel="stylesheet">
    <link href="{{ url_for('static', filename='lib/select2/css/select2.min.css')}}" rel="stylesheet">

    <!-- DashForge CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashforge.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashforge.profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashforge.demo.css') }}">
</head>

<body class="page-profile">

    {% block header %}
    <header class="navbar navbar-header navbar-header-fixed pos-fixed z-index-200 pln-vr-lb">
        <a href="" id="mainMenuOpen" class="burger-menu"><i data-feather="menu"></i></a>
        <div class="navbar-brand">
            <a href="/qna"><img class="img-fluid wd-25p" src="{{ url_for('static', filename='img/OFL_SVGFileDF.svg') }}" alt="logo"></a>
        </div><!-- navbar-brand -->
        <!-- navbar-menu-wrapper -->
        <div class="navbar-right">
            <!-- <a id="navbarSearch" href="" class="search-link"><i data-feather="search"></i></a> -->
            <div class="dropdown dropdown-profile">
                <a href="" class="dropdown-link gr1" data-toggle="dropdown" data-display="static">
                    <i data-feather="user" class="rounded-circle bg-gray-100"></i>
                </a><!-- dropdown-link -->
                <div class="dropdown-menu dropdown-menu-right tx-13">
                    <div class="avatar avatar-lg mg-b-15">
                        <i data-feather="user" class="wd-70 ht-auto rounded-circle bg-gray-100"></i>
                    </div>
                    <h6 class="tx-semibold mg-b-5">Katherine Pechon</h6>
                    <p class="mg-b-25 tx-12 tx-color-03">User</p>

                    <a href="" class="dropdown-item"><i data-feather="edit-3"></i> Edit Profile</a>
                    <a href="" class="dropdown-item"><i data-feather="user"></i> View Profile</a>
                    <div class="dropdown-divider"></div>
                    <a href="/" class="dropdown-item"><i data-feather="log-out"></i>Sign Out</a>
                </div><!-- dropdown-menu -->
            </div><!-- dropdown -->
        </div><!-- navbar-right -->
        <div class="navbar-search">
            <div class="navbar-search-header">
                <input type="search" class="form-control" placeholder="Type and hit enter to search...">
                <button class="btn"><i data-feather="search"></i></button>
                <a id="navbarSearchClose" href="" class="link-03 mg-l-5 mg-lg-l-10"><i data-feather="x"></i></a>
            </div><!-- navbar-search-header -->
        </div><!-- navbar-search -->
    </header><!-- navbar -->
    {% endblock %}

    {% block content %}
    <div class="content content-fixed content-profile">
        <div class="container pd-x-0 pd-lg-x-10 pd-xl-x-0">
            <div class="media d-block d-lg-flex">
                {% block sidebar %}
                <div class="profile-sidebar pd-lg-r-25">
                    <div class="row">
                        <div class="col-sm-3 col-md-2 col-lg">
                            <div class="avatar avatar-xxl">
                                <i data-feather="user" class="wd-100 ht-auto rounded-circle bg-gray-100"></i>
                            </div>
                        </div><!-- col -->
                        <div class="col-sm-8 col-md-7 col-lg mg-t-20 mg-sm-t-0 mg-lg-t-25">
                            <h5 class="mg-b-2 tx-spacing--1">Katherine Pechon</h5>
                            <p class="tx-color-03 mg-b-25">@KatherinePechon</p>
                        </div><!-- col -->
                        <div class="sidebar-body">
                            <label class="tx-sans tx-10 tx-semibold tx-uppercase tx-color-01 tx-spacing-1 mg-b-15">Menu</label>
                            <ul class="sidebar-nav">
                                <li class="nav-item show">
                                    <a href="/qna" class="nav-link active"><i data-feather="globe"></i> <span>QnA Management</span></a>
                                </li>
                                <li class="nav-item show">
                                    <a class="nav-link"><i data-feather="layers"></i>Discussions Management</a>
                                    <nav class="nav nav-classic tx-13">
                                        <a href="/discussions">Admin</a>
                                        <a href="/discussions/request">Request</a>
                                    </nav>
                                </li>
                                <li class="nav-item show">
                                    <a href="/posts" class="nav-link"><i data-feather="twitter"></i> <span>Posts Management</span></a>
                                </li>
                                <li class="nav-item show">
                                    <a href="/experts" class="nav-link"><i data-feather="globe"></i> <span>Experts Management</span></a>
                                </li>
                            </ul>
                        </div><!-- sidebar-body -->
                    </div><!-- row -->

                </div><!-- profile-sidebar -->
                {% endblock %}
                {% block timeline %}
                {% endblock %}
            </div><!-- media -->
        </div><!-- container -->
    </div><!-- content -->
    {% endblock %}

    {% block modal %}
    {% endblock %}

    {% block footer %}
    <footer class="footer">
        <div>
            <span>&copy; 2020 PLN Forum Learning</span>
            <span>Created with 💞 by PMMB PLN 2020</span>
        </div>
    </footer>
    {% endblock %}

    <!-- script -->
    <script src="{{ url_for('static', filename='lib/jquery/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/feather-icons/feather.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/perfect-scrollbar/perfect-scrollbar.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/prismjs/prism.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/quill/quill.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashforge.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net/js/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net-dt/js/dataTables.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net-responsive/js/dataTables.responsive.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/datatables.net-responsive-dt/js/responsive.dataTables.min.js') }}"></script>
    <script src="{{ url_for('static', filename='lib/select2/js/select2.min.js') }}"></script>

    <!-- append theme customizer -->
    <script src="{{ url_for('static', filename='lib/js-cookie/js.cookie.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dashforge.settings.js') }}"></script>

    <script>
        $(function () {
            'use script'

            $('[data-toggle="tooltip"]').tooltip()

            window.darkMode = function () {
                $('.btn-white').addClass('btn-dark').removeClass('btn-white');
                $('.bg-white').addClass('bg-gray-900').removeClass('bg-white');
                $('.bg-gray-50').addClass('bg-dark').removeClass('bg-gray-50');
            }

            window.lightMode = function () {
                $('.btn-dark').addClass('btn-white').removeClass('btn-dark');
                $('.bg-gray-900').addClass('bg-white').removeClass('bg-gray-900');
                $('.bg-dark').addClass('bg-gray-50').removeClass('bg-dark');
            }

            var hasMode = Cookies.get('df-mode');
            if (hasMode === 'dark') {
                darkMode();
            } else {
                lightMode();
            }
        })
    </script>
        <script>
            $(function(){
              'use strict'
      
              $('#example1').DataTable({
                language: {
                  searchPlaceholder: 'Search...',
                  sSearch: '',
                  lengthMenu: '_MENU_ items/page',
                }
              });
      
              $('#example2').DataTable({
                responsive: true,
                language: {
                  searchPlaceholder: 'Search...',
                  sSearch: '',
                  lengthMenu: '_MENU_ items/page',
                }
              });
      
              $('#example3').DataTable({
                'ajax': '../assets/data/datatable-arrays.txt',
                language: {
                  searchPlaceholder: 'Search...',
                  sSearch: '',
                  lengthMenu: '_MENU_ items/page',
                }
              });
      
              $('#example4').DataTable({
                'ajax': '../assets/data/datatable-objects.txt',
                "columns": [
                  { "data": "name" },
                  { "data": "position" },
                  { "data": "office" },
                  { "data": "extn" },
                  { "data": "salary" }
                ],
                language: {
                  searchPlaceholder: 'Search...',
                  sSearch: '',
                  lengthMenu: '_MENU_ items/page',
                }
              });
      
              // Select2
              $('.dataTables_length select').select2({ minimumResultsForSearch: Infinity });
      
            });
          </script>
    {% block jscript %}
    {% endblock %}
</body>

</html>