atomicwrites==1.4.0
attrs==20.3.0
beautifulsoup4==4.6.3
certifi==2020.12.5
cffi==1.14.5
click==7.1.2
cryptography==3.4.6
defusedxml==0.7.1
eight==1.0.0
Flask==1.1.2
Flask-Login==0.4.1
freezegun==0.3.15
future==0.18.2
html5lib==1.0.1
iso8601==0.1.14
itsdangerous==1.1.0
Jinja2==2.11.3
lxml==4.6.2
MarkupSafe==1.1.1
more-itertools==8.7.0
pluggy==0.7.1
py==1.10.0
pycparser==2.20
PyJWT==2.0.1
pyOpenSSL==19.1.0
pytest==3.6.4
python-dateutil==2.8.1
pytz==2021.1
signxml==2.8.1
six==1.15.0
uWSGI==2.0.19.1
webencodings==0.5.1
Werkzeug==1.0.1
xmlunittest==0.5.0
