{% extends 'qna/base.html' %}

{% block title %}
<title>Timeline QnA | PLN Forum Learning</title>
{% endblock %}

{% block timeline %}
<div class="media-body mg-t-40 mg-lg-t-0 pd-lg-x-10">
    <div class="profile-update-option bg-white ht-50 bd d-flex justify-content-end mg-b-20 mg-lg-b-25 rounded">
        <div class="d-flex align-items-center pd-x-20 mg-r-auto">
            <span class="d-none d-sm-inline" style="font-size: 1.3rem;"><strong>QnA - Generation</strong></span>
        </div>
        <!-- rak placeholder ganti navbar -->
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Latest</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Week</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Month</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline">Year</span></a>
        </div>
        <div class="wd-90 bd-l d-flex align-items-center justify-content-center">
            <a href=""><span class="d-none d-sm-inline"><strong>Top</strong></span></a>
        </div>
    </div>
    <div class="row no-gutters">
        <!-- <div class="d-flex align-items-center pd-x-20 mg-r-auto"> -->
            <div class="col-sm" >
            <a href="#modalWriting" data-toggle="modal" data-animation="effect-fall"><button type="button" class="btn btn-primary btn-block mg-b-40" style="background-color: #14a2ba; border-color: #14a2ba">Write a question</button></a>
            </div>
            <div class="col-sm"></div>
            <div class="dropdown col-sm">
                <button class="btn btn-block btn-secondary dropdown-toggle" style="background-color: #a6ced5; border-color: #a6ced5;" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Filter
                </button>
                <div class="dropdown-menu tx-13">
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Electric Power Supply Business</h6>
                  <a class="dropdown-item" href="#">Generation</a>
                  <a class="dropdown-item" href="#">Transmission</a>
                  <a class="dropdown-item" href="#">Distribution</a>
                  <a class="dropdown-item" href="#">Commerce &amp; Customer Management</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Corporate Support</h6>
                  <a class="dropdown-item" href="#">Electricity Equipment Production</a>
                  <a class="dropdown-item" href="#">Electric Safety, OHS, Security &amp; Environment</a>
                  <a class="dropdown-item" href="#">Project Management, Engineering &amp; Construction</a>
                  <a class="dropdown-item" href="#">Research &amp; Development</a>
                  <a class="dropdown-item" href="#">Learning</a>
                  <a class="dropdown-item" href="#">Certification</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Electricity Support</h6>
                  <a class="dropdown-item" href="#">Supply Chain Management</a>
                  <a class="dropdown-item" href="#">Regulatory &amp; Compliance</a>
                  <a class="dropdown-item" href="#">Information Technology</a>
                  <a class="dropdown-item" href="#">HR</a>
                  <a class="dropdown-item" href="#">Finance</a>
                  <a class="dropdown-item" href="#">Communication, CSR &amp; Office Management</a>
                  <a class="dropdown-item" href="#">Company Management</a>
                  <div class="dropdown-divider"></div>
                  <h6 class="dropdown-header tx-uppercase tx-11 tx-bold tx-inverse tx-spacing-1">Additional</h6>
                  <a class="dropdown-item" href="#">Miscellaneous</a>
                </div>
            </div>
            <!-- <a href="" class="link-03 mg-l-10"><span class="d-none d-sm-inline">Write</span> a question</a> -->
        <!-- </div> -->
    </div>


    <div class="card mg-b-20 mg-lg-b-25">
        <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between" style="background-color: #efe62f;">
            <h6 class="tx-uppercase tx-semibold mg-b-0">Open</h6>
            <div class="wd-150 bd-l d-flex align-items-center justify-content-center">
                <span class="d-none d-sm-inline"><strong>#Generation</strong></span>
            </div>
        </div><!-- card-header -->
        <div class="card-body pd-20 pd-lg-25">
            <div class="media align-items-center mg-b-20">
                <div class="avatar avatar-online"><img src="https://via.placeholder.com/500"
                        class="rounded-circle" alt=""></div>
                <div class="media-body pd-l-15">
                    <h6 class="mg-b-3">Rangga Kusuma D</h6>
                    <span class="d-block tx-13 tx-color-03">@ranggakusumad</span>
                </div>
                <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">5 hours ago</span>
            </div><!-- media -->
            <a href="/qna/rangga/abcd1234" style="color: inherit;" class="mg-b-20 mg-t-20">
                <h5>
                Mengapa masyarakat enggan divaksin?
                </h5>
            </a>
            <div class="col-sm-2 pd-l-0 pd-r-0 mg-t-20">
            <a href="#modalAnswer" data-toggle="modal" data-animation="effect-fall"><button type="button" class="btn btn-info btn-block">Answer</button></a>
            </div>
        </div>
        <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
            <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link"><i data-feather="thumbs-up"></i> 20</a>
                <a href="" class="nav-link"><i data-feather="thumbs-down"></i> 1</a>
                <a href="" class="nav-link"><i data-feather="message-square"></i> 1</a>
            </nav>
        </div><!-- card-footer -->
    </div><!-- card -->
    <div class="card mg-b-20 mg-lg-b-25">
        <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between" style="background-color: #D9D9D9;">
            <h6 class="tx-uppercase tx-semibold mg-b-0">Closed</h6>
            <div class="wd-150 bd-l d-flex align-items-center justify-content-center">
                <span class="d-none d-sm-inline"><strong>#Generation</strong></span>
            </div>
        </div><!-- card-header -->
        <div class="card-body pd-20 pd-lg-25">
            <div class="media align-items-center mg-b-20">
                <div class="avatar avatar-online"><img src="https://via.placeholder.com/500"
                        class="rounded-circle" alt=""></div>
                <div class="media-body pd-l-15">
                    <h6 class="mg-b-3">Rangga Kusuma D</h6>
                    <span class="d-block tx-13 tx-color-03">@ranggakusumad</span>
                </div>
                <span class="d-none d-sm-block tx-12 tx-color-03 align-self-start">5 hours ago</span>
            </div><!-- media -->
            <a href="/qna/rangga/abcd1234" style="color: inherit;" class="mg-b-20 mg-t-20">
                <h5>
                Mengapa masyarakat enggan divaksin?
                </h5>
            </a>
        </div>
        <div class="card-footer bg-transparent pd-y-10 pd-sm-y-15 pd-x-10 pd-sm-x-20">
            <nav class="nav nav-with-icon tx-13">
                <a href="" class="nav-link"><i data-feather="thumbs-up"></i> 20</a>
                <a href="" class="nav-link"><i data-feather="thumbs-down"></i> 10</a>
                <a href="" class="nav-link"><i data-feather="message-square"></i> </a>
            </nav>
        </div><!-- card-footer -->
    </div><!-- card -->
</div><!-- media-body -->
{% endblock %}

{% block modal %}
<div class="modal fade" id="modalWriting" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel6">Write a question</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Choose Category</label>
                <select class="custom-select">
                    <option selected>Open this select menu</option>
                    <option value="Generation">Generation</option>
                    <option value="Transmission">Transmission</option>
                    <option value="Distribution">Distribution</option>
                    <option value="Commerce & Customer Management">Commerce & Customer Management</option>
                    <option value="Electricity Equipment Production">Electricity Equipment Production</option>
                    <option value="Electric Safety, OHS, Security & Environment">Electric Safety, OHS, Security & Environment</option>
                    <!-- <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option>
                    <option value=""></option> -->
                </select>
                <div class="form-group mg-t-20">
                    <label>Your question</label>
                    <textarea class="form-control" rows="4" placeholder="Mengapa banyak OTG di Jawa Timur?"></textarea>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn tx-13" style="background-color: #d9d9d9; border-color: #d9d9d9;" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary tx-13" style="background-color: #14a2ba; border-color: #14a2ba;">Send</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="modalAnswer" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel6" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content tx-14">
        <div class="modal-header">
          <h6 class="modal-title" id="exampleModalLabel6">Answer a question</h6>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <label>Your answer</label>
                <textarea class="form-control" rows="4" placeholder="Karena banyak OTG"></textarea>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn tx-13" style="background-color: #d9d9d9; border-color: #d9d9d9;" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary tx-13" style="background-color: #14a2ba; border-color: #14a2ba;">Send</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block jscript %}
<script>
    $(function(){
      'use strict'

      $('#modalWriting').on('show.bs.modal', function (event) {

        var animation = $(event.relatedTarget).data('animation');
        $(this).addClass(animation);
      })

      // hide modal with effect
      $('#modalWriting').on('hidden.bs.modal', function (e) {
        $(this).removeClass (function (index, className) {
            return (className.match (/(^|\s)effect-\S+/g) || []).join(' ');
        });
      });

    });
</script>
{% endblock %}